<ion-header>
  <ion-toolbar>
    <ion-title>Login Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">
      Identifiant <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input required type="text" [(ngModel)]="login" placeholder="Enter your id here">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">
      Mot de passe <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input required type="password" [(ngModel)]="password" placeholder="Enter your password">
    </ion-input>
  </ion-item>
  <ion-row>
    <ion-col text-center>
      <ion-button size="large" color="secondary" (click)="logIn()">Login</ion-button>
    </ion-col>
  </ion-row>
</ion-content>