<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Hello World</p>
    </ion-card-content>
  </ion-card>
  <ion-row>
    <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"
      text-center>
    </signature-pad>
    <ion-col size="6" text-center>
      <ion-button color="primary" (click)="clear()">Reset</ion-button>
    </ion-col>
    <ion-col size="6" text-center>
      <ion-button color="secondary" (click)="save()">OK</ion-button>
    </ion-col>
  </ion-row>
  <div *ngIf="image">
    <ion-img [src]="image"></ion-img>
  </div>
</ion-content>